<% provide(:title, '管理者ユーザ') %>
<div class="d-flex flex-column">
  <div class="container-fluid">
    <div>
      <h3>ユーザ管理</h3>
      <%= button_tag "ユーザ作成",
          id:"create-user-button", 
          class:"btn btn-primary btn-sm",
          data: { 
            toggle: "modal",
            target: "#userModal",
            component: "modal"
          } 
      %>
      <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div id="modal-component">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-striped" id="dataTable">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">名前</th>
                  <th scope="col">メール</th>
                  <th scope="col">管理者</th>
                  <th scope="col">認証済み</th>
                  <th scope="col">認証日</th>
                  <th scope="col">作成日</th>
                  <th scope="col">更新日</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do | user | %>
                <tr>
                  <td scope="row"><%= user[:id] %></td>
                  <td><%= user[:name] %></td>
                  <td><%= user[:email] %></td>
                  <td>
                    <% if user[:admin] %>
                    <i class="fa-solid fa-check"></i>
                    <% end %>
                  </td>
                  <td>
                    <% if user[:activated_at] %>
                    <i class="fa-solid fa-check"></i>
                    <% end %>
                  </td>
                  <td><%= user[:activated_at]&.strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td><%= user[:created_at].strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td><%= user[:updated_at].strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td class="d-flex flex-row justify-content-between">
                    <%= button_tag "編集",
                        id:"edit-user-button", 
                        class:"btn btn-success btn-sm edit-user-button",
                        data: { 
                          toggle: "modal",
                          target: "#userModal",
                          component: "modal",
                          user: user
                        } 
                    %>
                    <%= button_tag "削除",
                        id:"delete-user-button", 
                        class:"btn btn-danger btn-sm delete-user-button",
                        data: { 
                          toggle: "modal",
                          target: "#userModal",
                          component: "modal",
                          user: user
                        } 
                    %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
